root = true

[*.{fs,fsx,md}]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{fs,fsx}]
fsharp_space_before_uppercase_invocation=true
fsharp_space_before_class_constructor=true
fsharp_multi_line_lambda_closing_newline=true
fsharp_space_before_member=true
fsharp_max_record_width=10
fsharp_max_array_or_list_width=40
fsharp_max_infix_operator_expression=50
fsharp_keep_max_number_of_blank_lines=1
