# ---- Postgres ----
PG_USER=habits_tracker_user
PG_PASSWORD=1W@nt70m3J0b
PG_PORT=5432

# ---- ASP.NET ----
ASPNETCORE_ENVIRONMENT=Development

# ---- JWT for user-service ----
JWT_SECRET=dev_secret_change_me
JWT_ISSUER=habits.local
JWT_AUDIENCE=habits.clients

# Optional: override connection strings (by default they point to service 'db')
# HABITS_DB_CONNECTION_STRING=Host=db;Port=5432;Username=${PG_USER};Password=${PG_PASSWORD};Database=habits_db
# TRACKING_DB_CONNECTION_STRING=Host=db;Port=5432;Username=${PG_USER};Password=${PG_PASSWORD};Database=tracking_db
# USER_DB_CONNECTION_STRING=Host=db;Port=5432;Username=${PG_USER};Password=${PG_PASSWORD};Database=users_db

# Optional: set container user mapping
USER_ID=1000
GROUP_ID=1000
